
<section>
	<h2>Beyond records</h2>
	<div class="gallery-position">
		<img class="gallery" src="https://freight.cargo.site/w/1000/i/b7d699a4c80515d4a8a65521b9886aff626f20a1ae47326619bf2047e3093acd/05_ElsaParicio_BeyondRecords_Parraga.jpg" alt="jarrones-diversos">
		<img class="gallery" src="https://freight.cargo.site/w/1000/i/09e78216901ed46d1b3ef28214d59e31057365550f4190809c029512105c1b36/07_ElsaParicio_BeyondRecords_Murcia_Blanca.jpg" alt="jarrones-murcia">
		<img class="gallery" src="https://freight.cargo.site/w/1000/i/a24fe1233f382d8e1fa5598699ef0acc55dc190108a343935e77d30322524713/landtape_LuzyYo.jpg" alt="jarrones-tinta">
		<img class="gallery" src="https://freight.cargo.site/w/1000/i/8db166b6567425769b459f01402d6ef0b78880a8f259e979fe3268c61f6344ab/expo_1MM_confinamiento.jpg" alt="jarrones-rojos">
		<img class="gallery" src="https://freight.cargo.site/w/500/i/837d9c4f4b24037fd681455b40f232ea0474b6f397e85d6383d6984a8c4aa755/discurosIncertidumbres_01.jpg" alt="expo1">		
	</div>
</section>

<section>
	<h2>N.I.N.E.S. (Numerical Images Naming Extraterrestrial Seas)</h2> 
	<div class="gallery-position">
		<img class="gallery" src="https://freight.cargo.site/w/750/i/5a9dd8698ebc9868b101b60867eafe889fec0929cd328dc63fa124f970875420/nines_dibujo.png" alt="N.I.N.E.S esquema">
		<img class="gallery" src="https://freight.cargo.site/w/750/i/4142dba78ec930b684aee70b10931e4fae7e02f4d5d660e610cf410ce291ba27/Nines_ElsaParicio.png" alt="N.I.N.E.S mural">
		<img class="gallery" src="https://freight.cargo.site/w/1500/i/d6a552508ad9f55ac6b97b2a6c1865a47769ac8ad311848983a09de7f5f80aff/Nines_triptico_web.jpg" alt="N.I.N.E.S 3 piezas">
	</div>
</section>

<section>
	<h2>Colección Voltaire</h2> 
	<div class="gallery-position">
		<img class="gallery" src="https://freight.cargo.site/w/750/i/2fcec26c248a38bfe2452926b5c0d1a5795a0f22c350c1cfea77301387570e8f/Col_voltaire_02_.jpg" alt="Voltaire expo">
		<img class="gallery" src="https://freight.cargo.site/w/750/i/6a75f6844a3f2d175df3100582b80b9fe957e21ba43bdc74cc7530de9c070f7a/paricio_micromegas_detalle_02.jpg" alt="Voltaire detalle">
		<img class="gallery" src="https://freight.cargo.site/w/750/i/4386cbf647c7416548d1d6cde6d104101979a4746ff3d794eed8d4a84e70e3ac/IMG_20190705_121510.jpg" alt="Voltaire detalle 2">
	</div>
</section>