<header>
  <h1>Welcome to Elsa Paricio's site</h1>
  <div>
    <nav class="nav-bar">
      <ul>
        <li><a href="./about">About</a></li>
        <li><a href="./work">Projects</a></li>
        <li><a href="./gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
  <section>
    <article>
      <div></div>
    </article>
    <article>
      <div></div>
    </article>
    <article>
      <div></div>
    </article>
  </section>
</header>