<h2>Projects</h2>
<ul>
    <li>Beyond records</li>
    <li>N.I.N.E.S. (Numerical Images Naming Extraterrestrial Seas)</li>
    <li>Colección Voltaire</li>
    <li>¿Sueñan los androides con ovejas eléctricas?</li>
    <li>Yacimiento Centrípeto 23.45</li>
    <li>Mover la torre</li>
</ul>