<section class="work">
	<article class="work-description">
		<a class="work-style" href="./gallery">Beyond records</a> 
		<img src="https://freight.cargo.site/w/750/i/8db166b6567425769b459f01402d6ef0b78880a8f259e979fe3268c61f6344ab/expo_1MM_confinamiento.jpg" alt="Jarrones Murcia">
	</article>
	<article class="work-description">
		<img src="https://freight.cargo.site/w/750/i/5a9dd8698ebc9868b101b60867eafe889fec0929cd328dc63fa124f970875420/nines_dibujo.png" alt="N.I.N.E.S">
		<a class="work-style" href="./gallery">N.I.N.E.S. (Numerical Images Naming Extraterrestrial Seas)</a> 
	</article>
	<article class="work-description">
		<a class="work-style" href="./gallery">Colección Voltaire</a> 
		<img src="https://freight.cargo.site/w/750/i/4386cbf647c7416548d1d6cde6d104101979a4746ff3d794eed8d4a84e70e3ac/IMG_20190705_121510.jpg" alt="Voltaire">
	</article>
</section>

